.logoimg{
    margin-top: 5px;
}

.img{
    height: 50px;
    width: 110px;
    margin-top: 3px;
    border-radius: 10px;
    position: relative;
    background-color: whitesmoke;
    padding: 5px;
}

.imgFanset{
    height: 50px;
    width: 110px;
    margin-top: 3px;
    border-radius: 10px;
    position: relative;
    background-color: whitesmoke;
    margin-right: 10px;
}


.topbar{
    width: 100%;
    height: 70px;
    background-color:#8e44ad;
    position: sticky;
    top: 1px;
    z-index: 999;
    border-bottom: 1px solid green;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    align-items: center;
    color:#d6dbe9;
    display: flex;
    justify-content: space-between;

}
.topbarIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





.log_out{
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background:white;
    color: #8e44ad;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    margin-top: 15px;
}
.log_out:hover{
    background: #2bcbba;
    color: white;
    }
.logo{
    font-weight: bold;
    font-size: 30px;
    margin: 3px;
    /* color:darkblue; */
    cursor: pointer;
}
.logotext{
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}
.topLeft{
    color:white;
    display: flex;
    flex-direction: row;
}

.topCenter{
    text-decoration: none;
    display: flex;
    color: white;

}
.topCenter>a{
    text-decoration: none;
    margin-left: 10px;
}
.topCenter>a:visited{
    color: rgb(26, 24, 24) !important;
    /* border: 1px solid blue; */
}
.topCenter>a:active{
    border-bottom: 2px solid rgb(67, 95, 218);

}
.topCenter>a:hover{
    border-bottom: 2px solid rgb(67, 95, 218);

}
.dieselbtn{
    color:rgb(67, 95, 218); 
}
.topCenterFlex{
    display: flex;
    
    

}

.topCenterActive{
    border-bottom: 1px solid royalblue;
    font-weight: 600;
    color: white;
}

.topRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}